body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
}

.container{
display:flex;
max-width:900px;
margin:40px auto;
background:white;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.esquerda{
width:30%;
background:#e6e6e6;
padding:20px;
text-align:center;
}

.direita{
width:70%;
padding:30px;
}

.foto{
width:150px;
border-radius:10px;
margin-bottom:20px;
}

h1{
margin-top:0;
}

h2{
border-bottom:2px solid #ddd;
padding-bottom:5px;
}
